In [228]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import time
import csv


# Google developer API key
from config import gkey

    
# https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=YOUR_API_KEY

In [185]:
# Name of the CSV file
file = "resources/mapdata.csv"
# Use the correct encoding to read the CSV in pandas
map_df = pd.read_csv(file, encoding="ISO-8859-1")
map_df

,stage_id,ranking,rider_time,rider_name,rider_country,rider_team,rider_age
0,1,1,15812,Fernando Gaviria,Colombia,Quick-Step Floors,23
1,1,2,15812,Peter Sagan,Slovakia,Bora-Hansgrohe,28
2,1,3,15812,Marcel Kittel,Germany,Team Katusha-Alpecin,30
3,1,4,15812,Alexander Kristoff,Norway,UAE Team Emirates,31
4,1,5,15812,Christophe Laporte,France,Cofidis,25
5,1,6,15812,Dylan Groenewegen,Netherlands,LottoNL-Jumbo,25
6,1,7,15812,Michael Matthews,Australia,Team Sunweb,27
7,1,8,15812,John Degenkolb,Germany,Trek-Segafredo,29
8,1,9,15812,Jakob Fuglsang,Denmark,Astana,33
9,1,10,15812,Rafal Majka,Poland,Bora-Hansgrohe,28
10,1,11,15812,Vincenzo Nibali,Italy,Bahrain-Merida,33
11,1,12,15812,Timothy Dupont,Belgium,Wanty-Groupe Gobert,30
12,1,13,15812,Thomas Boudat,France,Direct Ãnergie,24
13,1,14,15812,Geraint Thomas,Great Britain,Team Sky,32
14,1,15,15812,Bob Jungels,Luxembourg,Quick-Step Floors,25
15,1,16,15812,Michael Valgren,Denmark,Astana,26
16,1,17,15812,Maximiliano Richeze,Argentina,Quick-Step Floors,35
17,1,18,15812,Philippe Gilbert,Belgium,Quick-Step Floors,36
18,1,19,15812,Edvald Boasson Hagen,Norway,Team Dimension Data,31
19,1,20,15812,Sonny Colbrelli,Italy,Bahrain-Merida,28
20,1,21,15812,Jasper Stuyven,Belgium,Trek-Segafredo,26
21,1,22,15812,Andrea Pasqualon,Italy,Wanty-Groupe Gobert,30
22,1,23,15812,Julian Alaphilippe,France,Quick-Step Floors,26
23,1,24,15812,Greg Van Avermaet,Belgium,BMC Racing Team,33
24,1,25,15812,Dmitriy Gruzdev,Kazakhstan,Astana,32
25,1,26,15812,AndrÃ© Greipel,Germany,Lotto-Soudal,35
26,1,27,15812,Tom Dumoulin,Netherlands,Team Sunweb,27
27,1,28,15812,Warren Barguil,France,Fortuneo-Samsic,26
28,1,29,15812,Tiesj Benoot,Belgium,Lotto-Soudal,24
29,1,30,15812,Kristijan Koren,Slovenia,Bahrain-Merida,31
...,...,...,...,...,...,...,...
3321,21,116,10055,Luke Durbridge,Australia,Mitchelton-Scott,27
3322,21,117,10057,Tom Scully,New Zealand,EF Education First-Drapac p/b Cannondale,28
3323,21,118,10057,Romain Hardy,France,Fortuneo-Samsic,29
3324,21,119,10059,Daniel Oss,Italy,Bora-Hansgrohe,31
3325,21,120,10063,Romain Sicard,France,Direct Ãnergie,30
3326,21,121,10067,Arthur Vichot,France,Groupama-FDJ,29
3327,21,122,10067,Franco Pellizotti,Italy,Bahrain-Merida,40
3328,21,123,10071,Michael Gogl,Austria,Trek-Segafredo,24
3329,21,124,10071,Omar Fraile,Spain,Astana,27
3330,21,125,10078,JesÃºs Herrada,Spain,Cofidis,27
3331,21,126,10078,Dimitri Claeys,Belgium,Cofidis,31
3332,21,127,10084,Marco Marcato,Italy,UAE Team Emirates,34
3333,21,128,10084,Rory Sutherland,Australia,UAE Team Emirates,36
3334,21,129,10090,Bauke Mollema,Netherlands,Trek-Segafredo,31
3335,21,130,10090,Toms Skujins,Latvia,Trek-Segafredo,27
3336,21,131,10101,Ion Izagirre,Spain,Bahrain-Merida,29
3337,21,132,10123,Oliviero Troia,Italy,UAE Team Emirates,23
3338,21,133,10132,Julien Bernard,France,Trek-Segafredo,26
3339,21,134,10195,Nils Politt,Germany,Team Katusha-Alpecin,24
3340,21,135,10197,Michal Kwiatkowski,Poland,Team Sky,28
3341,21,136,10199,Lawson Craddock,United States,EF Education First-Drapac p/b Cannondale,26
3342,21,137,10240,Guillaume Van Keirsbulck,Belgium,Wanty-Groupe Gobert,27
3343,21,138,10242,AmaÃ«l Moinard,France,Fortuneo-Samsic,36
3344,21,139,10244,Michael SchÃ¤r,Switzerland,BMC Racing Team,31
3345,21,140,10246,Taylor Phinney,United States,EF Education First-Drapac p/b Cannondale,28
3346,21,141,10247,Anthony Perez,France,Cofidis,27
3347,21,142,10254,Gregor MÃ¼hlberger,Austria,Bora-Hansgrohe,24
3348,21,143,10254,Lukas PÃ¶stlberger,Austria,Bora-Hansgrohe,26
3349,21,144,10280,Silvan Dillier,Switzerland,AG2R La Mondiale,27
3350,21,145,10280,Damien Gaudin,France,Direct Ãnergie,31

In [150]:
map_df.dtypes

stage_id          int64
ranking           int64
rider_time        int64
rider_name       object
rider_country    object
rider_team       object
rider_age         int64
dtype: object

In [73]:

dataList = [] #empty list
for index, row in map_df.iterrows():
    # If the city is unique, then add it to the lists    
        mycountry = (row.rider_country)
        if mylist not in dataList:
            dataList.append(mycountry)
        else: 
            pass

    
dataList

['Colombia',
 'Slovakia',
 'Germany',
 'Norway',
 'France',
 'Netherlands',
 'Australia',
 'Denmark',
 'Poland',
 'Italy',
 'Belgium',
 'Great Britain',
 'Luxembourg',
 'Argentina',
 'Kazakhstan',
 'Slovenia',
 'Spain',
 'South Africa',
 'Russia',
 'New Zealand',
 'Ireland',
 'United States',
 'Latvia',
 'Austria',
 'Estonia',
 'Croatia',
 'Switzerland',
 'Costa Rica',
 'Ethiopia',
 'Sweden']

In [145]:
# in data frame

data_c = {'country':dataList}
#data_c 
new_df = pd.DataFrame.from_dict(data_c)
new_df

          country
0        Colombia
1        Slovakia
2         Germany
3          Norway
4          France
5     Netherlands
6       Australia
7         Denmark
8          Poland
9           Italy
10        Belgium
11  Great Britain
12     Luxembourg
13      Argentina
14     Kazakhstan
15       Slovenia
16          Spain
17   South Africa
18         Russia
19    New Zealand
20        Ireland
21  United States
22         Latvia
23        Austria
24        Estonia
25        Croatia
26    Switzerland
27     Costa Rica
28       Ethiopia
29         Sweden

In [187]:
target_url = 'https://maps.googleapis.com/maps/api/geocode/json?address=usa&key='+config.gkey
# Run a request to endpoint and convert result to json
geo_data = requests.get(target_url).json()

# Print the json
print(geo_data)

{'results': [{'address_components': [{'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}], 'formatted_address': 'United States', 'geometry': {'bounds': {'northeast': {'lat': 71.5388001, 'lng': -66.885417}, 'southwest': {'lat': 18.7763, 'lng': 170.5957}}, 'location': {'lat': 37.09024, 'lng': -95.712891}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 49.38, 'lng': -66.94}, 'southwest': {'lat': 25.82, 'lng': -124.39}}}, 'place_id': 'ChIJCzYy5IS16lQRQrfeQ5K5Oxw', 'types': ['country', 'political']}], 'status': 'OK'}

In [146]:
# Print the json (pretty printed)
print(json.dumps(geo_data, indent=4, sort_keys=True))

{
    "results": [
        {
            "address_components": [
                {
                    "long_name": "United States",
                    "short_name": "US",
                    "types": [
                        "country",
                        "political"
                    ]
                }
            ],
            "formatted_address": "United States",
            "geometry": {
                "bounds": {
                    "northeast": {
                        "lat": 71.5388001,
                        "lng": -66.885417
                    },
                    "southwest": {
                        "lat": 18.7763,
                        "lng": 170.5957
                    }
                },
                "location": {
                    "lat": 37.09024,
                    "lng": -95.712891
                },
                "location_type": "APPROXIMATE",
                "viewport": {
                    "northeast": {
                        "lat": 49.38,
                        "lng": -66.94
                    },
                    "southwest": {
                        "lat": 25.82,
                        "lng": -124.39
                    }
                }
            },
            "place_id": "ChIJCzYy5IS16lQRQrfeQ5K5Oxw",
            "types": [
                "country",
                "political"
            ]
        }
    ],
    "status": "OK"
}

In [188]:
# Build the endpoint URL
# use string formating syntax on string url
target_url2 = 'https://maps.googleapis.com/maps/api/geocode/json?address=%s&key='+config.gkey

list_2 = []
for item in dataList:
    
    call=requests.get(target_url2%item).json()
    lat_lng=[call['results'][0]['formatted_address'],
             call['results'][0]['geometry']['location']['lat'],
             call['results'][0]['geometry']['location']['lng']
            ]
    list_2.append(lat_lng)
list_2

[['Colombia', 4.570868, -74.297333],
 ['Slovakia', 48.669026, 19.699024],
 ['Germany', 51.165691, 10.451526],
 ['Norway', 60.47202399999999, 8.468945999999999],
 ['France', 46.227638, 2.213749],
 ['Netherlands', 52.132633, 5.291265999999999],
 ['Australia', -25.274398, 133.775136],
 ['Denmark', 56.26392, 9.501785],
 ['Poland', 51.919438, 19.145136],
 ['Italy', 41.87194, 12.56738],
 ['Belgium', 50.503887, 4.469936],
 ['Great Britain, United Kingdom', 53.7190281, -2.0727839],
 ['Luxembourg', 49.815273, 6.129582999999999],
 ['Argentina', -38.416097, -63.61667199999999],
 ['Kazakhstan', 48.019573, 66.923684],
 ['Slovenia', 46.151241, 14.995463],
 ['Spain', 40.46366700000001, -3.74922],
 ['South Africa', -30.559482, 22.937506],
 ['Russia', 61.52401, 105.318756],
 ['New Zealand', -40.900557, 174.885971],
 ['Ireland', 53.1423672, -7.692053599999999],
 ['United States', 37.09024, -95.712891],
 ['Latvia', 56.879635, 24.603189],
 ['Austria', 47.516231, 14.550072],
 ['Estonia', 58.595272, 25.0136071],
 ['Croatia', 45.1, 15.2000001],
 ['Switzerland', 46.818188, 8.227511999999999],
 ['Costa Rica', 9.748916999999999, -83.753428],
 ['Ethiopia', 9.145000000000001, 40.489673],
 ['Sweden', 60.12816100000001, 18.643501]]

In [130]:
coordinates=pd.DataFrame(list_2, columns = ["rider_country", "lat", "lng"])
coordinates

                    rider_country        lat         lng
0                        Colombia   4.570868  -74.297333
1                        Slovakia  48.669026   19.699024
2                         Germany  51.165691   10.451526
3                          Norway  60.472024    8.468946
4                          France  46.227638    2.213749
5                     Netherlands  52.132633    5.291266
6                       Australia -25.274398  133.775136
7                         Denmark  56.263920    9.501785
8                          Poland  51.919438   19.145136
9                           Italy  41.871940   12.567380
10                        Belgium  50.503887    4.469936
11  Great Britain, United Kingdom  53.719028   -2.072784
12                     Luxembourg  49.815273    6.129583
13                      Argentina -38.416097  -63.616672
14                     Kazakhstan  48.019573   66.923684
15                       Slovenia  46.151241   14.995463
16                          Spain  40.463667   -3.749220
17                   South Africa -30.559482   22.937506
18                         Russia  61.524010  105.318756
19                    New Zealand -40.900557  174.885971
20                        Ireland  53.142367   -7.692054
21                  United States  37.090240  -95.712891
22                         Latvia  56.879635   24.603189
23                        Austria  47.516231   14.550072
24                        Estonia  58.595272   25.013607
25                        Croatia  45.100000   15.200000
26                    Switzerland  46.818188    8.227512
27                     Costa Rica   9.748917  -83.753428
28                       Ethiopia   9.145000   40.489673
29                         Sweden  60.128161   18.643501

In [133]:
country_data = coordinates  
# rename a value in the rider_country column
country_data['rider_country']=country_data['rider_country'].replace("Great Britain, United Kingdom", "Great Britain")

country_data

    rider_country        lat         lng
0        Colombia   4.570868  -74.297333
1        Slovakia  48.669026   19.699024
2         Germany  51.165691   10.451526
3          Norway  60.472024    8.468946
4          France  46.227638    2.213749
5     Netherlands  52.132633    5.291266
6       Australia -25.274398  133.775136
7         Denmark  56.263920    9.501785
8          Poland  51.919438   19.145136
9           Italy  41.871940   12.567380
10        Belgium  50.503887    4.469936
11  Great Britain  53.719028   -2.072784
12     Luxembourg  49.815273    6.129583
13      Argentina -38.416097  -63.616672
14     Kazakhstan  48.019573   66.923684
15       Slovenia  46.151241   14.995463
16          Spain  40.463667   -3.749220
17   South Africa -30.559482   22.937506
18         Russia  61.524010  105.318756
19    New Zealand -40.900557  174.885971
20        Ireland  53.142367   -7.692054
21  United States  37.090240  -95.712891
22         Latvia  56.879635   24.603189
23        Austria  47.516231   14.550072
24        Estonia  58.595272   25.013607
25        Croatia  45.100000   15.200000
26    Switzerland  46.818188    8.227512
27     Costa Rica   9.748917  -83.753428
28       Ethiopia   9.145000   40.489673
29         Sweden  60.128161   18.643501

In [183]:
country_data.dtypes

rider_country     object
lat              float64
lng              float64
dtype: object

### CSV

In [184]:
# Push the remade DataFrame to a new CSV file
country_data.to_csv("output/country_coordinates.csv",
                  encoding="utf-8", index=False, header=True)

### SQL

In [227]:
# setup the connection to the DB
from sqlalchemy import create_engine
import os
import sys
os.getcwd()
sys.path.append("C:/SQL_PW/")
from config1 import password
pw = config1.password

connection_string = ("root:" + pw + "@localhost/tour_db")

engine = create_engine(f'mysql://{connection_string}')
# print(connection_string)

In [219]:
country_data.to_sql(name='coordinates', con=engine, if_exists='replace', index=False)
pd.read_sql_query('select * from coordinates', con=engine).head()

  rider_country        lat        lng
0      Colombia   4.570868 -74.297333
1      Slovakia  48.669026  19.699024
2       Germany  51.165691  10.451526
3        Norway  60.472024   8.468946
4        France  46.227638   2.213749

### Json

In [ ]:
#